# fly.toml app configuration file generated for geopolitical-risk-dashboard on 2026-02-28T18:18:34Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'geopolitical-risk-dashboard'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
